.six-d-div {
  font-family: montserrat;
}
.six-d-pra-one {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0;
}
.six-d-span-one {
  text-decoration: underline;
  margin-top: 0;
  cursor: pointer;
}