.body{
  margin-bottom: 3000px;
 padding-top: 50px;

}
.para-14-a{
  background-color: aquamarine;
  position: fixed;
  right: 103px;
  bottom:20px ;
}
.div-14a-two{
  background-color: aqua;
  width: 100px;
  position: fixed;
  right: 0;
  top: 0px;
  bottom: 0;
}
.div-14a-three{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8); 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-right: 100px;
}
.div-14a-four{
  width: 280px;
  height: 100px;
  border-radius: 6px;
  background-color: white;
  border-width: 1px;
  border-color: aliceblue;
  border-style: solid;
  margin-top: 190px;
  margin-left: 130px;
  font-family: roboto, arial;
}
.fast-para{
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.second-para{
  margin: 0;
  margin-left: 10px;
  font-size: 13px;
  margin-top: 5px;
}
.button{
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
}
